<!DOCTYPE html>
<html>
<head>
    <title>Demo</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <style type="text/css">
        .loader {
            position: fixed;
            left: 0px;
            top: 0px;
            width: 100%;
            height: 100%;
            z-index: 9999;
            background: url('//upload.wikimedia.org/wikipedia/commons/thumb/e/e5/Phi_fenomeni.gif/50px-Phi_fenomeni.gif') 50% 50% no-repeat rgb(249,249,249);
        }
    </style>
</head>
<body>
    <div class="container">
        <div id="loadingDiv" class="loader"></div>
        <div class="row">
            <div class="card-header col-md-12">
                <div class="row">
                    <div class="col-md-3">
                        <label for="ddlHumanRaces" class="control-label">Human Races</label>
                        <div>
                            <select id="ddlHumanRaces" class="form-control">
                                <option value="-1">All</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <label for="ddlHumanRaces" class="control-label btn-block">&nbsp;</label>
                        <button class="btn btn-primary" onclick="BindRecords()">Search</button>
                    </div>
                    <div class="col-md-6 text-right">
                        <label for="ddlHumanRaces" class="control-label btn-block">&nbsp;</label>
                        <button class="btn btn-danger" onclick="IncreaseAgeByOne();">Increase age by 1</button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <span id="spnInfo" class="badge badge-primary">Primary</span>
                    </div>
                </div>
            </div>
            <div class="card-body" style="max-height:400px;overflow-y:scroll">
                <table id="tblData" class="table">
                    <thead>
                        <tr>
                            <th style="width:10%">S.No.</th>
                            <th style="width:30%">Name</th>
                            <th style="width:20%">Age</th>
                            <th style="width:30%">Height</th>
                        </tr>
                    </thead>
                    <tbody>

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>

</html>
<script type="text/javascript">

    var $loading = $('#loadingDiv').hide();
    $(document)
        .ajaxStart(function () {
            $loading.show();
        })
        .ajaxStop(function () {
            $loading.hide();
        });

    $(document).ready(function () {
        //alert("hello");
        $("#spnInfo").html('No records found');
        bindHumanRaces();
        BindRecords();
    });

    function bindHumanRaces() {
        $.get("/races", function (data) {
            var list = JSON.parse(data);
            $.each(list, function (index, value) {
                $("#ddlHumanRaces").append($("<option></option>").val(index).html(value));  
            });
        });
    }

    function BindRecords() {
        var selectedRace = $("#ddlHumanRaces").val();
        $.get("/person/" + selectedRace, function (data) {
            var list = JSON.parse(data);
            $("#spnInfo").html('Total Records Found : ' + list.length);
            tableBody = $("#tblData tbody");
            
            tableBody.html('');
            $.each(list, function (index, value) {
                var appendSTR = "<tr>";
                appendSTR += "<td>" + (index + 1) + "</td>";
                appendSTR += "<td>" + value.Name + "</td>";
                appendSTR += "<td>" + value.Age + "</td>";
                appendSTR += "<td>" + parseFloat(value.Height).toFixed(2) + "</td>";
                appendSTR += "</tr>";

                tableBody.append(appendSTR); 
            });
        });
    }

    function IncreaseAgeByOne() {
        $.post("increaseage", function (data) {
            if (data == true) {
                BindRecords();
            }
        });
    }
</script>
